@import url('fonts.css');

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #22222D url(../images/background.png) repeat content-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #545454;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h2 {
    padding: 0 0 20px 0;
    font-size: 2em;
}

p, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    line-height: 180%;
}

strong {
}

a {
    color: #141414;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

img.border {
}

img.alignleft {
    float: left;
}

img.alignright {
    float: right;
}

.aligncenter {
    margin: 3px auto !important;
    position: relative !important;
    margin-bottom: 30px;
    width: 234px;
}

hr {
    display: none;
}

#wrapper {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

#header {
    overflow: hidden;
    height: 90px;
    background: #262626 repeat;
}

#logo {
    float: left;
    width: 350px;
    padding: 5px 0 0 50px;
}

#logo h1 {
    padding: 5px 10px 0 0;
}

#logo h1 a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
    color: #FFFFFF;
}

#logo p {
    display: block;
    padding: 0 0 0 0;
    letter-spacing: 1px;
    font-size: 1em;
    color: #7C7C7C;
}

#logo p a {
    color: #7C7C7C;
}

#menu {
    float: right;
    width: 700px;
    padding: 30px 50px 0 0;
}

#menu ul {
    float: right;
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    margin-left: 1px;
    padding: 7px 0 7px 30px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
    border-radius: 5px;
    color: #FFFFFF;
}

#page {
    overflow: hidden;
    width: 1100px;
    padding: 50px 50px;
    background: #F6F6F6;
    color: #202020;
}

#content {
    float: left;
    width: 750px;
}

#content-center {
    width: 750px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#sidebar {
    float: right;
    width: 300px;
}

#footer {
    overflow: hidden;
    margin: 0 50px;
    padding: 30px 0;
    border-top: 5px solid #000000;
}

#footer p {
    text-align: center;
}

#footer a {
    color: #545454;
}

ul.style1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.style1 li {
    padding: 5px 0 10px 0;
    border-top: 1px solid #E6E7DC;
}

ul.style1 a {
    text-decoration: none;
    color: #50667f;
}

ul.style1 a:hover {
    text-decoration: underline;
}

ul.style1 .first {
    padding-top: 0;
    border-top: none;
}

ul.style2 {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.style2 li {
    padding: 25px 0 15px 0;
    border-top: 1px solid #DDDDDD;
}

ul.style2 .first {
    padding-top: 0;
    border-top: none;
}

#profile ul.style2 h3 {
    padding: 0 15px 10px 15px;
    float: left;
}

ul.style2 h3 {
    padding: 0 0 10px 0;
    float: none;
}

ul.style2 h3 a {
    color: #4F4F4F;
}

ul.style2 a {
    text-decoration: none;
    color: #919191;
}

ul.style2 a:hover {
    text-decoration: underline;
}

.button-style {
    display: inline-block;
    margin-top: 20px;
    padding: 7px 20px;
    background: #22222D repeat;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.join-style, .join-style:hover {
    display: inline-block;
    margin-right: 20px;
    padding: 7px 20px;
    background: #124f31 repeat;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #FFFFFF !important;
    float: right;
}
.error_msg{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;

    padding: 8px 2px;
    margin-bottom: 5px !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#formContainer, .error_msg {
    width: 333px;

    margin: 0 auto;
    position: relative;
    z-index: 1;
    -webkit-perspective: 800px;
}

#formContainer {
    height: 425px;
}

#formContainer form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: 0.8s;
    -webkit-animation: pulse 2s infinite;
    background-image: -webkit-radial-gradient(center center, farthest-corner circle, rgba(244, 230, 254, 0.49) 0%, rgba(158, 158, 158, 0.63) 100%);
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 1px #008aff;
    }
    50% {
        box-shadow: 0 0 10px #008aff;
    }
    100% {
        box-shadow: 0 0 1px #008aff;
    }
}

@-webkit-keyframes pulse-link {
    0% {
        box-shadow: 0 0 1px #ffae02;
    }
    50% {
        box-shadow: 0 0 5px #ffae02;
    }
    100% {
        box-shadow: 0 0 1px #ffae02;
    }
}

#login {
    z-index: 100;
}

#register {
    z-index: 1;
    opacity: 0;

    -webkit-transform: rotateY(180deg);
}

#formContainer.flipped #login {

    opacity: 0;
    -webkit-transform: rotateY(-180deg);
}

#formContainer.flipped #register {

    opacity: 1;

    -webkit-transform: rotateY(0deg);
}

.flipLink {
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 5px;
    font: 20px 'Yanone Kaffeesatz', 'Segoe UI', Arial, sans-serif;
    color: #eee;
    margin: 2px;
    padding-right: 3px;
    -webkit-box-shadow: -3px 3px 5px #50455e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-animation: pulse-link 5s infinite;
}

.flipLink:visited {
    color: #eee;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    font: 15px 'Segoe UI', Arial, sans-serif;
    border: none;
    background: none;
    height: 36px;

    width: 234px;
    text-indent: 8px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: #eee;
    background-color: rgba(128, 129, 133, 1);
    outline: none;

    -webkit-border-radius: 5px;
    border-radius: 5px;
}



.submit {
    opacity: 0.9;
    width: 234px;
    height: 36px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 1px 1px #888;
    border: none;
    color: #fff;
    font: 14px/36px 'Segoe UI Light', 'Segoe UI', Arial, sans-serif;

    background-image: -webkit-linear-gradient(bottom, rgb(80, 102, 127) 50%, rgb(87, 109, 136) 50%, rgb(106, 129, 155) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, rgb(80, 102, 127)), color-stop(0.5, rgb(87, 109, 136)), color-stop(1, rgb(106, 129, 155)));
}

.submit:hover {
    opacity: 1;
}

.formTitle {
    font: 50px 'Lobster', 'Segoe UI', Arial, sans-serif;
    margin: 30px auto;
    border: none;
    width: 50%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: #1b1b1b;
    outline: none;
    text-align: center;
}

.hidden {
    display: none;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}

.icon-white {
    background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-user {
    background-position: -168px 0;
}

.icon-arrow-left {
    background-position: -240px -96px;
}

.scrolable {
    height: 330px;
    overflow-y: auto;
}

object {
    border: double 5px #124f31;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
