.login-submit, .login-submit:before, .login-submit:after {
    /*background: #373737  0 0 repeat;*/
}

.login {
    position: relative;
    /*margin: 80px auto;*/
    width: 400px;
    /*padding-right: 32px;*/
    font-weight: 300;
    color: #a8a7a8;
    /*text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);*/
}

.login p {
    margin: 0 0 10px;
}

input, button, .label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=password], input[type=email] {
    margin-top: 5px;
    margin-left: 5px;
    padding: 0 10px;
    width: 260px;
    height: 40px;
}

input {
    color: #bbb;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

input[type=password]:focus, input[type=email]:focus {
    color: #545454;
    background: rgba(0, 0, 0, 0.1);
    outline: 0;
}

.label {
    float: left;
    width: 100px;
    line-height: 40px;
    padding-right: 10px;
    font-weight: 100;
    text-align: right;
    letter-spacing: 1px;
}

.login-submit {
    position: absolute;
    top: 253px;
    right: 0;
    width: 48px;
    height: 48px;
    padding: 8px 0;
    border-radius: 32px;
    /*background-color: rgba(0, 0, 0, 0.16);;*/
}

.login-submit:before, .login-submit:after {
    content: '';
    z-index: 1;
    position: absolute;
}

.login-submit:before {
    top: 28px;
    left: 0;
    width: 4px;
    height: 10px;
}

.login-submit:after {
    top: -4px;
    bottom: -4px;
    right: 0;
    width: 32px;
}

.login-button {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 48px;
    padding: 0 0 48px;
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    background: none;
    border: 0;
    border-radius: 24px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);

}

.login-button:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #197548;
    border-radius: 24px;
    background-image: -webkit-linear-gradient(top, #197548, #17412d);
    -webkit-box-shadow: inset 0 0 0 1px #197548, 0 0 0 5px rgba(0, 0, 0, 0.16);
}

.login-button:active:before {
    background: #197548;
    background-image: -webkit-linear-gradient(top, #154630, #197548);
}

.login-button:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 12px;
    width: 25px;
    height: 19px;
    background: url("../images/arrow.png") 0 0 no-repeat;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

