/*Thanks to http://zocial.smcllns.com*/
@charset "UTF-8";

.zocial,
a.zocial {
    border: 1px solid #777;
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: #333;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    -moz-box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.1em rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.1em rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.1em rgba(255, 255, 255, 0.9);
    cursor: pointer;
    display: inline-block;
    font: bold 100%/2.1 "Lucida Grande", Tahoma, sans-serif;
    padding: 0 .95em 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    white-space: nowrap;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: relative;

    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.zocial:before {
    content: "";
    border-right: 0.075em solid rgba(0, 0, 0, 0.1);
    float: left;
    font: 120%/1.65 zocial;
    font-style: normal;
    font-weight: normal;
    margin: 0 0.5em 0 0;
    padding: 0 0.5em;
    text-align: center;
    text-decoration: none;
    text-transform: none;

    -moz-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);

    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.zocial:active {
    outline: none; /* outline is visible on :focus */
}

.zocial {
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), color-stop(49%, rgba(255, 255, 255, .05)), color-stop(51%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .05) 49%, rgba(0, 0, 0, .05) 51%, rgba(0, 0, 0, .1));
}

.zocial:hover, .zocial:focus {
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .15) 49%, rgba(0, 0, 0, .1) 51%, rgba(0, 0, 0, .15));
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .15) 49%, rgba(0, 0, 0, .1) 51%, rgba(0, 0, 0, .15));
    background-image: -o-linear-gradient(rgba(255, 255, 255, .15) 49%, rgba(0, 0, 0, .1) 51%, rgba(0, 0, 0, .15));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .15)), color-stop(49%, rgba(255, 255, 255, .15)), color-stop(51%, rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .15)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .15) 49%, rgba(0, 0, 0, .1) 51%, rgba(0, 0, 0, .15));
    background-image: linear-gradient(rgba(255, 255, 255, .15) 49%, rgba(0, 0, 0, .1) 51%, rgba(0, 0, 0, .15));
}

.zocial:active {
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, .1));
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, .1));
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), color-stop(30%, rgba(255, 255, 255, 0)), color-stop(50%, transparent), to(rgba(0, 0, 0, .1)));
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0) 30%, transparent 50%, rgba(0, 0, 0, .1));
}

.zocial.facebook:before {
    content: "f";
}

.zocial.google:before {
    content: "G";
}

.zocial.facebook {
    background-color: #4863ae;
}

.zocial.google {
    background-color: #4e6cf7;
}


